<h2>Make an appointment</h2>
<p>On this page, you can write to our Barber Shop!</p>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input name="user_name" type="text" class="form-control" placeholder="Borovitsky Alexander" value ="<%=@user_name%>">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail2">Your phone</label>
    <input Name="user_phone" type="Name" class="form-control" placeholder="+375(33) 669-24-20" value ="<%=@user_phone%>">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail2">Datatime</label>
    <input name="user_time" type="Name" class="form-control" placeholder="10.30" value ="<%=@user_time%>">
  </div>
  

   <div class="form-group">
      <label for="exampleInputEmail2">Choose your barber</label>
          
      <select name="barber">
        <option <%= @barber == 'Borovitsky Alexander' ? 'selected' : '' %>>Borovitsky Alexander</option>
        <option <%= @barber == 'Borovitsky Lev' ? 'selected' : '' %>>Borovitsky Lev</option>
      </select>
  </div>

  <div name="color" class="form-group">
      <label for="exampleInputEmail2">Choose your color:</label>
          
      <select id="color" name="color">
        <option value="#7bd148">Green</option>
        <option value="#5484ed">Bold blue</option>
        <option value="#a4bdfc">Blue</option>
        <option value="#46d6db">Turquoise</option>
        <option value="#7ae7bf">Light green</option>
        <option value="#51b749">Bold green</option>
        <option value="#fbd75b">Yellow</option>
        <option value="#ffb878">Orange</option>
        <option value="#ff887c">Red</option>
        <option value="#dc2127">Bold red</option>
        <option value="#dbadff">Purple</option>
        <option value="#e1e1e1">Gray</option>
      </select>
  </div>

<script name="color" type="text/javascript">
  $('#color').simplecolorpicker();
</script>

  <button type="submit" class="btn btn-primary">Enroll</button>

</form>